n8n/workflows/VideoToAudio.json
{
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a7263cbbf3cb3c8254741ed16afaee1d223952661b8f34e6b3905fc2680485db"
  },
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1UiBKPvPmrGrT9uWGpG58_tgU4tMedg-v",
          "mode": "list",
          "cachedResultName": "InputFiles",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1UiBKPvPmrGrT9uWGpG58_tgU4tMedg-v"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "f25f53b1-d6a2-4a60-9dec-dbef847a3215",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        580,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U7KOjrk1Y4n8Iedb",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$json.id}}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "6c193eb8-5bcb-4449-9b04-cd026f5e2966",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        800,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U7KOjrk1Y4n8Iedb",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "id": "9ddb5028-a939-4ef4-be62-c868ab3035c9",
      "name": "Video to Audio with Golem",
      "type": "CUSTOM.videoToAudioGolem",
      "typeVersion": 1,
      "position": [
        1020,
        300
      ]
    },
    {
      "parameters": {
        "inputDataFieldName": "audioFile",
        "name": "myFIle.mp3",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1PqtUy5y3I3MDCqmh5SPnYzqlYsP0G0IF",
          "mode": "list",
          "cachedResultName": "OutputFiles",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1PqtUy5y3I3MDCqmh5SPnYzqlYsP0G0IF"
        },
        "options": {}
      },
      "id": "4d9b9a5f-c8bc-46bb-9b27-43a4fa534226",
      "name": "Google Drive1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1240,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U7KOjrk1Y4n8Iedb",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Video to Audio with Golem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video to Audio with Golem": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
